body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.logo-title-group {
    display: flex;
    align-items: center;
}

.logo {
    margin: 25px;
}

.title {
    font-size: 24px;
    color: linear-gradient(to right, #bdac14 0%, #a80606 100%);
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;

}

.link-anchor {
    text-decoration: none;
}
.nav-item {
    margin: 0 15px;
    font-size: 18px;
    color: white;
}