header {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin: 25px;
}

header h1 {
    color: aliceblue;
}

header nav {
    position: absolute;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;

}

header nav ul a {
    text-decoration: none;
}