body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.logo-title-group {
    display: flex;
    align-items: center;
}

.logo {
    margin: 25px;
}

.title {
    font-size: 24px;
    background: linear-gradient(90deg, #ffcc00, #ff9900);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-right: 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.link-anchor {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: rgb(199, 152, 0);
    text-transform: uppercase;
    font-weight: bold;
}

.link-anchor:visited {
    color: rgb(199, 152, 0);
}

.link-anchor:active {
    color: #ffcc00;
}

.nav-item {
    margin: 0;
    font-size: 18px;
}

.nav-item::after,
.nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.nav-item::before {
    top: -5px;
    transform-origin: left;
}

.nav-item:hover::after,
.nav-item:hover::before {
    transform: scaleX(1);
}



.link-anchor:hover {
    color: #ffcc00;
}